div{
    border-color: black;
    border-style:groove ;
}

.corPrimaria{
    background-color: red;
}

.corSecundaria{
    background-color: blueviolet;
}

.corComplementar{
    background-color: green;
    font-size: 25px;
}

.corEscura{
    background-color: rgb(116, 5, 5);
}

.corClara{
    background-color: rgb(248, 172, 172);
}

